/* line 1, ../sass/custom.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}

/* line 5, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* line 11, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  margin-top: -2px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

/* line 22, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

/* line 25, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

/* line 35, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

/* line 38, ../sass/custom.scss */
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

/* line 42, ../sass/custom.scss */
#portfolio * {
  z-index: 2;
  margin-top: 30px;
}

@media (min-width: 767px) {
  /* line 47, ../sass/custom.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/* line 52, ../sass/custom.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  background-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

/* line 63, ../sass/custom.scss */
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}

/* line 67, ../sass/custom.scss */
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

/* line 70, ../sass/custom.scss */
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}

/* line 73, ../sass/custom.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/* line 82, ../sass/custom.scss */
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

/* line 85, ../sass/custom.scss */
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: rgba(24, 188, 156, 0.9);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

/* line 97, ../sass/custom.scss */
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: rgba(24, 188, 156, 0.9);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

/* line 108, ../sass/custom.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/* line 112, ../sass/custom.scss */
.about-section p {
  background-color: black;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: .9;
}

/* line 122, ../sass/custom.scss */
.img-centered {
  margin: 0 auto;
}
